<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wallpaper.anime">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_logo"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">
        <meta-data
            android:name="com.wallpaper.anime.glide.GlideConfiguration"
            android:value="GlideModule" />

        <activity
            android:name=".activity.LoadActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wallpaper.anime.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <activity
            android:name=".activity.PictureActivity"
            android:label="@string/title_activity_picture"
            android:largeHeap="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AcgActivity"
            android:largeHeap="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CollectActivity"
            android:label="我的收藏"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.MainActivity" ></activity>
        <activity android:name=".activity.PictureView" ></activity>
    </application>

</manifest>